.site_header {
    background-color: red;
}
.site_header ul{
        display: flex;
        list-style: none;
        padding: 5px;
        margin: 0;
}
.site_header li {
    padding: 5px;
}

h1 {
    color: pink;
}